:host {
  display: block;
}

.text {
  color: white;
}

.toast {
  visibility: hidden;
  min-width: 15rem;
  text-align: center;
  border-radius: 0.8em;
  padding-inline: 1em;
  position: fixed;
  z-index: 1;
  right: 2%;
  top:5%;
}

.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
} 


 .toast-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color:black;
  font-size: var(--ff-500);
  
} 

.toast-primary{
  background-color: var(--btn-clr-primary-light);
  color: var(--btn-clr-primary);
  border-width: 1;
  border-style: solid;
  border-color: var(--btn-clr-primary-outline);
}

.toast-warning{
  background-color: var(--btn-clr-warning-light);
  color: var(--btn-clr-warning);
  border-width: 1;
  border-style: solid;
  border-color: var(--btn-clr-warning-outline);
}
.toast-positive{
  background-color: var(--btn-clr-positive-light);
  color: var(--btn-clr-positive);
  border-width: 1;
  border-style: solid;
  border-color: var(--btn-clr-positive-outline);
}

.toast-attention{
  background-color: var(--btn-clr-attention-light);
  color: var(--btn-clr-attention);
  border-width: 1;
  border-style: solid;
  border-color: var(--btn-clr-attention-outline);
}

.is-open{
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;

}

.is-open .toast{
  transform: translate(-50%, 5.6em);
  right: 80px;
  opacity: 100%;
}

.close{
  margin-left: 1em;
}